VITE_GEMINI_API_KEY=your_gemini_key_here
VITE_GOOGLE_MAPS_API_KEY=your_maps_key_here
VITE_FIREBASE_API_KEY=your_firebase_key_here
VITE_FIREBASE_PROJECT_ID=venueiq-d0ff7
VITE_FIREBASE_AUTH_DOMAIN=venueiq-d0ff7.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://venueiq-d0ff7-default-rtdb.firebaseio.com
VITE_FIREBASE_STORAGE_BUCKET=venueiq-d0ff7.appspot.com
VITE_ADMIN_EMAIL=rushabhdesai78@gmail.com
VITE_FIREBASE_MESSAGING_SENDER_ID=your_messaging_id_here
VITE_FIREBASE_APP_ID=your_app_id_here
VITE_FIREBASE_MEASUREMENT_ID=your_measurement_id_here
